<?xml version="1.0" encoding="UTF-8"?>
<!--beans根标签里配置很多个bean子标签，每个bean子标签代表一个类的配置-->
<beans>
    <!--id是对象标识，用于外部获取对象；class是类的全限定名，用于反射创建对象-->
    <bean id="accountDao" class="cn.coderap.dao.impl.JdbcAccountDaoImpl">
        <property name="ConnectionUtil" ref="connectionUtil"></property>
    </bean>
    <bean id="transferService" class="cn.coderap.service.impl.TransferServiceImpl">
        <!--约定："set"+name就是set方法名，比如setAccountDao，然后通过反射调用该方法传值-->
        <property name="AccountDao" ref="accountDao"></property>
    </bean>

    <bean id="connectionUtil" class="cn.coderap.utils.ConnectionUtil"></bean>
    <!--事务管理器-->
    <bean id="transactionManager" class="cn.coderap.utils.TransactionManager">
        <property name="ConnectionUtil" ref="connectionUtil"></property>
    </bean>
    <!--代理对象工厂-->
    <bean id="proxyFactory" class="cn.coderap.factory.ProxyFactory">
        <property name="TransactionManager" ref="transactionManager"></property>
    </bean>

</beans>